       <!-- This is the footer -->
        <!-- The footer goes inside the body but not always -->
       <hr />
       <footer id="copyright"> 
                  <div class="danger">
  <p><strong>Danger!</strong> Always double check the links you click on !</p>
    </div> <small> 
    
            CST 336 Internet Programming. 2020&copy; Garcia <br />
            <strong>Disclaimer:</strong> The information on this page is fictitious. <br />
            It is used for academic purposes only.
            </small>
            <figure>
                    <img src="img/CSUMB-Round-Logo-for-Licensing-18-blue.png" alt="Picture of CSUMB Logo"> 
                    
            </figure>            
            <p> &#9748;</p>
        </footer>
        <!-- closing footer -->
        
    </body>
    <!-- closing body -->

</html>