<!DOCTYPE html>
<html>

<!-- This is the head -->
<!-- All styles and javascript go inside the head -->
    <head>
        <title>HW1 MOSESSITE</title>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="css/styles.css" type="text/css" />
        <link href="https://fonts.googleapis.com/css2?family=MuseoModerno:wght@100&family=Russo+One&display=swap" rel="stylesheet" >
        <meta name="viewport" content="width=device-width, initial-scale=1">
        </head>
<!-- closing head -->

    <!-- This is the body -->
    <!-- This is where we place the content of our website -->
    <body>