<%- include('partials/header.ejs') %>
       

        <!-- Semantic tags -->
        <header> 
        
        <h1 class="solid">
         &euro; &#128187; Cyber Security &#128187; &euro;
        </h1>
        
        </header>   
        <hr /> 
        <br>
        <nav> 
            <a href="/index" style="color: red;">About</a>
            <a href="/zero">Zero-Days</a>
            <a href="/ransomware">Ransomware</a>
            <a href="/phishing">Phishing</a>
        </nav>
        <main> 

                <figure>
                    <img src="img/download.jpg" alt="Picture of hack"> 
                    
                    
                </figure>
                
                <div>
                <br>
               
                <br>
                <h2>
      As the digital world grows so should the concerns <br> with all the information that we put online 
      Everone shold know how to recognize a phishing email and know what vulnerabilites exist in the real world. 
                </h2>
      
     <%- include('partials/faker1.ejs') %>
      
        <form action='https://www.kali.org/' target="_blank" method='get'>
  <input type='submit' value='Kali Lunix information'/>
        </form>
        <br>
                <form action='https://www.hackerone.com/start-hacking' target="_blank" method='get'>
  <input type='submit' value='Learn About Hacking Hacker1'/>
        </form>
      
                </div>
        </main>
                
                
<%- include('partials/footer.ejs') %>