<%- include('partials/header.ejs') %>
       

        <!-- Semantic tags -->
        <header> 
        
        <h1><p class="solid">
         Cyber <span class="cyber">Security</span>  
        </h1></p>
        
        </header>   
        <hr /> 
        
        <br>
        <nav> 
            <a href="/index">About</a>
            <a href="/zero">Zero-Days</a>
            <a href="/ransomware" style="color: red;" >Ransomware</a>
            <a href="/phishing">Phishing</a>
        </nav>
        <main> 
                <figure>
                    <img src="img/wannacry.jpg" alt="Picture of zeroday1"> 
                    
                </figure>
                
                <div>
                <br>
                <br>
  <p><strong><h2 style="color:red;font-size:15px;"> 
  
                  Ransomware has been and still is one of the most populat attacks to obtain money from the end user or companies. Since then losses were speculated to be around 4 billion dollars.
                  Miscrosoft has patched the issue but not all compnaies can afford to upgrade or even update a computer system. <br> Why you ask yourself? <br> 
                  Most small business can not afford it simple as that. When is comes to upgrading software not all of there previous applications will transfer
                  over as seemlessly as upgrading your phone. Hardware and licenses and the cost to train employees are all very costly.  
      
                <br>
                <a href="https://en.wikipedia.org/wiki/WannaCry_ransomware_attack/"><cite>Wanna Cry Wiki</cite></a>    
                <br>
            <form action='https://en.wikipedia.org/wiki/WannaCry_ransomware_attack' target="_blank" method='get'>
             <input type='submit' value='Wana Cry Information' style="background-color: black color: green" />
            </form>
            
                        <button1
                        
                        class="button button1">DO NOT CLICK </button1>
  
                  </p></strong></h2>  
                  <br>
                  <br>
                  
                
      
                </div>
        </main>
<%- include('partials/footer.ejs') %>   
                