<%- include('partials/header.ejs') %>
       

        <!-- Semantic tags -->
        <header> 
        
        <h1><p class="solid">
            Cyber Security 
        </h1></p>
        
        </header>   
        <hr /> 
        <br>
        <nav> 
            <a href="/index">About</a>
            <a href="/zero"style="color: red;">Zero-Days</a>
            <a href="/ransomware">Ransomware</a>
            <a href="/phishing">Phishing</a>
        </nav>
        <main> 
                <figure>
                    <img src="img/zeroday1.jpg" alt="Picture of zeroday1"> 
                     
                </figure>
                
                <div>
                <br>
                <br>
  <p><strong><h2> What does "Zero-Day" even mean? Simple it was a term created to let how much time the developer or software company had to patch a fix for its software. 
    Without doing so it can possibly leave millions of end users at risk. 
                <br>
                <br>
                What happens what something is left without fix? Personal Data and damage to systems and computers can happen costing users thosands 
                and companies even more.
                </p></strong></h2>  
                            <form action='https://us.norton.com/internetsecurity-emerging-threats-how-do-zero-day-vulnerabilities-work-30sectech.html' target="_blank" method='get'>
             <input type='submit' value='Zero Day information' style="background-color: black color: green" />
            </form>
            
             <a href="https://us.norton.com/internetsecurity-emerging-threats-how-do-zero-day-vulnerabilities-work-30sectech.html/"><cite>Norton Article Explaining Zero Days</cite></a>
                  <br>
                  <br>
                    <figure>
                        <img src="img/zeroday.png" alt="Picture of zeroday"> 
                    
                    </figure>
                
      
                </div>
        </main>
                <%- include('partials/footer.ejs') %>
           